<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Planeto a Corporate Category Flat Bootstarp responsive Website Template| Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Planeto Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/stylesheets/bootstrap.css" rel='stylesheet' type='text/css' />
<link href="/stylesheets/style.css" rel='stylesheet' type='text/css' />
<script src="/jsjquery-1.11.0.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Dancing+Script:400,700' rel='stylesheet' type='text/css'>
<!---- start-smoth-scrolling---->
<script type="text/javascript" src="/js/move-top.js"></script>
<script type="text/javascript" src="/js/easing.js"></script>
<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event){		
					event.preventDefault();
					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
				});
			});
		</script>

<!--start-smoth-scrolling-->
</head>
<body>
<!--start-banner-->
	<div class="banner" id="home">
			<div class="header">
			<div class="logo">
				<a href="index.html"><img src="/images/logo.png" alt=""></a>
			</div>
			<div class="navigation">
				 <span class="menu"></span> 
					<ul class="navig">
						<li><a href="index.html" class="active">HOME</a></li><span><img src="/images/clk.png" alt="" /></span>
						<li><a href="about-us.html">ABOUT US</a></li><span><img src="/images/clk.png" alt="" /></span>
						<li><a href="services.html">SERVICES</a></li><span><img src="/images/clk.png" alt="" /></span>
						<li><a href="404.html">PROJECTS</a></li><span><img src="/images/clk.png" alt="" /></span>
						<li><a href="carrers.html">CARRERS</a></li><span><img src="/images/clk.png" alt="" /></span>
						<li><a href="contact.html">CONTACT</a></li>
					</ul>
			</div>
				<div class="clearfix"></div>
			</div>
			<div class="banner-main">
				<div class="container">	
					<div class="banner-top">
						<h1>TOP-NOTCH WEB SERVICES IN ONE PLACE</h1>
						<!-- <div class="banner-top-btm">
							<div class="col-md-6 bnr-left">
								<img src="/images/icn-1.png" alt="" />
							</div>
							<div class="col-md-6 bnr-right">
								<img src="/images/icn-2.png" alt="" />
							</div>
							<div class="clearfix"></div>
						</div> -->
					</div>
					<div class="banner-bottom">
						<div class="banner-slide">
						<div  id="top" class="callbacks_container">
			      			<ul class="rslides" id="slider4">
				        	<li>
								<img src="/images/slide-1.png" alt="" />
							</li>
							<li>
								<img src="/images/slide-2.png" alt="" />
							</li>
							<li>
								<img src="/images/slide-3.png" alt="" />
							</li>
			      	</ul>
			    </div>
			  <div class="clearfix"> </div>
			  </div>
				</div>
				</div>
			</div>
		</div>	
	<!-- script-for-menu -->
		 <script>
				$("span.menu").click(function(){
					$(" ul.navig").slideToggle("slow" , function(){
					});
				});
		 </script>
		 <!-- script-for-menu -->
		  <!--Slider-Starts-Here-->
				<script src="js/responsiveslides.min.js"></script>
			 <script>
			    // You can also use "$(window).load(function() {"
			    $(function () {
			      // Slideshow 4
			      $("#slider4").responsiveSlides({
			        auto: true,
			        pager: true,
			        nav: false,
			        speed: 500,
			        namespace: "callbacks",
			        before: function () {
			          $('.events').append("<li>before event fired.</li>");
			        },
			        after: function () {
			          $('.events').append("<li>after event fired.</li>");
			        }
			      });
			
			    });
			  </script>
			<!--End-slider-script-->		
	<!--end-banner-->
	<!--start-idea-->
	<div class="idea">
		
<!-- This is where the previous code was placed -->
<!--start-footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-main">
				<div class="contact">
					<div class="col-md-8 contact-left">
						<a href="index.html"><img src="/images/logo-2.png" alt="" /></a>
						<p>Lorem ipsum dolor sit tamet, consectetur adipiscing elit. Quisque vel lobortis neque, nec dictum erat. Proin malesuada, neque at facilisis posuere, tortor arcu vulputate dui, in sodales sem lacus sit amet diam.</p>
					</div>
					<div class="col-md-4 contact-right">
						<h3>QUICK CONTACTS</h3>
						<p>+91-9497262877</p>
						<p><a href="mailto:manukurakar@gmail.com">info@myexam.me</a></p>
					</div>
					<div class="clearfix"></div>
				</div>

				<div class="footer-bottom">
					<div class="col-md-4 footer-left">
						<ul>
							<li><a href="#"><span class="fb"> </span></a></li>
							<li><a href="#"><span class="twit"> </span></a></li>
							<li><a href="#"><span class="sky"> </span></a></li>
						</ul>
					</div>
					<div class="col-md-4 footer-middle">
						<p>&copy;<a href="http://klabs.com/"> K-Labs Private Limited</a></p>
					</div>
					<div class="col-md-4 footer-right">
						<p><a href="#home" class="scroll">TO THE TOP</a></p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--end-footer-->
</body>
</html>