extends layout

block first
    h3 Our Mission
    p We are more into education industry

block second
    h3 Vision
    p Our vision is to educate students

block third
    h3 Who are well
    p we are intellectuals
    

//-     .contact
//-         .col-md-8.contact-left
//-         a(href='index.html')
//-           img(src='/images/logo-2.png', alt='')
//-         | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
//-         p
//-           | Lorem ipsum dolor sit tamet, consectetur adipiscing elit. Quisque vel lobortis neque, nec dictum erat. Proin malesuada, neque at facilisis posuere, tortor arcu vulputate dui, in sodales sem lacus sit amet diam.
//-         | &#x9;&#x9;&#x9;&#x9;&#x9;
//-         .col-md-4.contact-right
//-         h3 QUICK CONTACTS
//-         | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
//-         p +91-9497262877
//-         | &#x9;&#x9;&#x9;&#x9;&#x9;&#x9;
//-         p
//-           a(href='mailto:manukurakar@gmail.com') info@myexam.me
//-         | &#x9;&#x9;&#x9;&#x9;&#x9;
//-         .clearfix

//- block header
//-     h1= title
//-     p Welcome to Manu

//- block content
//-     p Hello This is  a test program
  
//- block footer
//-     p copyright - manu

