html
  body
    form(action='/auth' method='POST')
      | Username
      br
      input#username(type='text', name='username')
      br
      | Password:
      br
      input#password(type='password', name='password')
      br
      input(type='submit')
